
<div class="main_info">
    <div class="info_show">
        <p>patient</p>
        <p class="p_head2"><%= bookingInfo.patientName %></p>
    </div>
    <div  class="info_show">
        <p>to</p>
    </div>
    <div class="info_show">
        <p>clinic</p>
        <p class="p_head2"><%= bookingInfo.consultantName %></p>
    </div>
</div>