
<div class="main_info">
    <div class="info_show">
        <p>clinic</p>
        <p class="p_head2"><%= requestInfo.clinicName %></p>
    </div>
    <div  class="info_show">
        <p>to</p>
    </div>
    <div class="info_show">
        <p>doctor</p>
        <p class="p_head2"><%= requestInfo.doctorName %></p>
    </div>
</div>