
/* content */

.main{
    width: 100%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2.2em;
}
@media screen and (min-width : 550px ) {
    .main{
        width: 550px;
    }
}

.contain{
    width: 100%;
    height: max-content;
    padding: 2em 3em;
    align-items: center;
}
.log_head{
    height: max-content;
    width: max-content;
    margin: auto;
    margin-bottom: 1.6em;
}
.log_head > p{
    font-size: 2em;
    font-weight: 600;
    margin: 0px;
    height: max-content;
}
.forms{
    width: 85%;
    margin: auto;
}

.formcon{
    font-size: 1.1em;
    background-color: rgb(202, 200, 200);
    padding: 1em;
}

input{
    padding : 0.5em;
    margin-bottom: 1.7em;
    margin-top: 0.2em;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 0.9em;
    width: 100%;
}
.forms button{
    width: 100%;
    font-size: 1em;
    padding: 4px 15px;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

.notsave{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0.7em;
}
.condition{
    text-align: center;
    font-size: 0.9em;
}

 @media screen and (max-width : 450px ) and ( min-width : 375px ) {
    .forms{
        width: 70%;
    }
    .formcon{
        font-size: 0.7em;
    }
    .input{
        font-size: 0.6em;
        margin-bottom: 1em;
    }
    .notsave{
        font-size: 1em;
        margin-bottom: 0.6em;
    }
    .condition{
        font-size: 0.7em;
    }
}
@media screen and (max-width : 375px ) and ( min-width : 285px ) {
    .forms{
        width: 85%;
    }
    .formcon{
        font-size: 0.7em;
    }
    .input{
        font-size: 0.6em;
        margin-bottom: 1em;
    }
    .notsave{
        font-size: 1em;
        margin-bottom: 0.6em;
    }
    .condition{
        font-size: 0.7em;
    }
}
@media screen and (max-width : 285px )  {
    .forms{
        width: 95%;
    }
    .formcon{
        font-size: 0.5em;
    }
    .input{
        font-size: 0.4em;
        margin-bottom: 0.8em;
    }
    .notsave{
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
    .condition{
        font-size: 0.6em;
    }
}
