<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor-Profile</title>
    <link rel="stylesheet" href="/css/profile/auth/show profile/doctorStyle.css">
</head>
<body>

    
    <div class="main">
        <div class="profile_info">
            <div class="left_info">
                <div class="data"> <!-- left part -->
                    <div class="sec1">
                        <!-- info with photo -->
                        <div class="photo">
                            photo
                            <img src="" alt="">
                        </div>
                        <div class="info">
                            <div>
                                <p>
                                    <%= data.fullName %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.work %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.reviewNumber %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.about %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec3">
                        <div>
                            <!-- section 1 reviews -->
                        </div>
                        <div>
                            <!-- section 2 question and answer -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right_info">
                <div class="data">
                    <div class="call_section">
                        ajfg
                    </div>
                    <div class="book_section">
                        asklgj as
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="jsdoctorprofile.js"></script>

</body>
</html>