

<div class="all_info">
    <div>
        <p class="p_head">working days:</p> <p><%= requestInfo.workingDays %></p>
    </div>
    <div>
        <p class="p_head">working time: </p> <p><%= requestInfo.workingTime %></p>
    </div>
    <div>
        <p class="p_head">clinic message:</p> <p><%= requestInfo.clinicMessage %></p>
    </div>
    <div>
        <p class="p_head">doctor message:</p> <p><%= requestInfo.doctorMessage %></p>
    </div>
</div>