

footer{
    width: 100%;
    height: max-content;
}
.area{
    width: 100%;
    background-color: rgb(70, 70, 70);
    padding: 1em 1.2em;
}
.main_content{
    width: 100%;
    height: max-content;
    padding: 0.4em 1.2em;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: start;
    gap: 3em;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 0.4em;
    justify-content: center;
    width: max-content;
}
.link_head{
    position: relative;
    padding: auto;
    height: max-content;
    padding-bottom: 8px;
}
.link_head > p{
    height: max-content;
    font-weight: 600;
    font-size: 1.2em;
    border: 50%;
    margin: 0px;
    color: rgb(200, 200, 200);
}
.link_head > p:hover{
    cursor: pointer;
}
.final_link{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 0.4em auto;
    font-size: 1.1em;
    height: max-content;
    width: max-content;
    text-decoration: none;
}
.link_head::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 3px;
    background-color: rgb(207, 207, 207);
    transition: width 0.3s ease;
}
.link_head:hover::after {
    width: 100%;
    left: 0;
}
.final_link a{
    text-decoration: none;
}
.final_link div{
    padding: 0.2em auto;
    height: max-content;
    width: max-content;
    cursor: pointer;
    transition: padding 0.3s ease;
}
.final_link div:hover{
    padding-left: 8px ;
}
.footer_follow{
    width: 100%;
    height: max-content;
    padding: 1.2em 2em;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
@media screen and ( min-width : 1200px ) {
    .footer_follow,.main_content{
        width: 1200px;
    }
}
.web_name{
    height: max-content;
    padding: 0.1em 0.2em;
    width: max-content;
}
.footer_follow p{
    font-size: 1.2em;
    word-wrap: break-word;
    height: max-content;
    margin: 0px;
}
.all_follow,.follow{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.follow{
    gap: 0.4em;
}
.footer_follow div{
    height: max-content;
    width: max-content;
}
footer a{
    color: white;
}
a{
    text-decoration: none;
}
.web_name a{
    color: black;
    font-size: 1.2em;
}
@media screen and ( max-width : 500px) and (min-width:300px) {
    .main_content{
        gap: 1em;
    }
    .link_head > p{
        font-size: 0.9em;
    }
    .final_link{
        font-size: 0.7em;
    }
    .footer_follow p,.footer_follow a{
        font-size: 1em;
    }
    .footer_follow{
        padding: 1em;
    }
}
@media screen and (max-width:300px) {
    .main_content{
        gap: 0.5em;
    }
    .link_head > p{
        font-size: 0.7em;
    }
    .final_link{
        font-size: 0.5em;
    }
    .footer_follow p,.footer_follow a{
        font-size: 0.7em;
    }
    .footer_follow{
        padding: 0.7em;
    }
}
