

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: max-content;
    padding: 0px;
}

.main{
    width: 100%;
    margin: auto;
}
@media screen and ( min-width: 1400px ) {
    .main{
        width: 1400px;
    }
}

.navbar-expand-lg{
    padding: 1.5em 1.5em;
}
.collapse li a{
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}
@media screen and ( max-width : 991px) {
    .padd{
        padding-bottom: 1em;
    }
}


/* error message css while verifying */

.errMsg{
    font-size: 0.7em;
    color: #E74C3C;
}
@media screen and ( max-width: 350px ) {
    .errMsg{
        font-size: 0.5em;
    }
}