<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Unauth doctor profile </title>
    <link rel="stylesheet" href="/css/profile/unAuth/doctorProfile.css">
</head>
<body>

    <%= data %>
    
    <div class="main">
        <div class="profile_info">
            <div class="left_info">
                <div class="data"> <!-- left part -->
                    <div class="sec1">
                        <!-- info with photo -->
                        <div class="photo">

                        </div>
                        <div class="info">
                            <div class="name">
                                <%= data.fullName %>
                            </div>
                            <div>
                                <%= data.work %>
                            </div>
                            <div>
                                verified
                            </div>
                            <div>  <!--  about -->
                                <%= data.about %>
                            </div>
                        </div>
                    </div>
                    <div class="sec2">
                        <!-- experience and skills -->
                        <div class="work w1w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                        <div class="work w2w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                        <div class="work w3w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                        <div class="work w4w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                        <div class="work w5w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                        <div class="work w6w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                        <div  class="work w7w" >
                            <div class="heading" >
                                <p></p>
                            </div>
                            <hr>
                            <div class="show_data">

                            </div>
                        </div>
                    </div>
                    <div class="sec3">
                        <div>
                            <!-- section 1 reviews -->
                        </div>
                        <div>
                            <!-- section 2 question and answer -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right_info">
                <div class="data">
                    <div class="call_section">
                        data
                    </div>
                    <div class="book_section">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>