<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <div>

        <form method="POST" action="/create-new-User">
            <input type="text" name="firstname" placeholder="firstname....">
            <br>
            <input type="text" name="lastname" placeholder="lastname....">
            <br>
            <input type="text" name="email" placeholder="email....">
            <br>
            <input type="text" name="address" placeholder="address....">
            <br>
            <input type="text" name="password" placeholder="password....">
            <br>
            <select name="roleid" id="">
                <option value="1" selected>admin</option>
                <option value="2">doctor</option>
                <option value="3">user</option>
            </select>
            <button type="submit">register</button>
        </form>

    </div>

</body>
</html>