<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <div>
    <% if(locals.errors ) { %>
        <% if( errors !== "" ) { %>
            <% errors.forEach( ( iteams ) => { %>
                <div>
                    <%= iteams  %>
                </div>
            <% }) %>
        <% } %>
    <% } %>
    </div>
    
    <div>

        <!-- we made two post routes for register are "/create-new-User" and "/register" -->
        <form method="POST" action="/register" >
            <input type="text" name="firstname" placeholder="firstname...." value = "" >
            <br>
            <input type="text" name="lastname" placeholder="lastname...." value="">
            <br>
            <input type="text" name="email" placeholder="email...." value="">
            <br>
            <input type="text" name="address" placeholder="address...." value="">
            <br>
            <input type="text" name="password" placeholder="password....">
            <br>
            <select name="roleid" id="">
                <option value="1" selected>admin</option>
                <option value="2">doctor</option>
                <option value="3">user</option>
            </select>
            <button type="submit">register</button>
        </form>

    </div>

</body>
</html>