


<footer>

    <div class="area">
    <div class="main_content">

            <div class="links">
                <div class="link_head">
                    <p>users</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">link1</a>
                    </div>
                    <div>
                        <a href="">link2</a>
                    </div>
                    <div>
                        <a href="">link3</a>
                    </div>
                    <div>
                        <a href="">link4</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="link_head">
                    <p>booking</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">link1</a>
                    </div>
                    <div>
                        <a href="">link2</a>
                    </div>
                    <div>
                        <a href="">link3</a>
                    </div>
                    <div>
                        <a href="">link4</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="link_head">
                    <p>uses policy</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">link1</a>
                    </div>
                    <div>
                        <a href="">link2</a>
                    </div>
                    <div>
                        <a href="">link3</a>
                    </div>
                    <div>
                        <a href="">link4</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="link_head">
                    <p>other</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">link1</a>
                    </div>
                    <div>
                        <a href="">link2</a>
                    </div>
                    <div>
                        <a href="">link3</a>
                    </div>
                </div>
            </div>

    </div>
    </div>

    <div class="footer_follow">
        <div class="web_name">
            <a href="/">www.website.com</a>
        </div>
        <div class="all_follow">
            <div>
                <p>Follow us</p>
            </div>
            <div class="follow">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>

</footer>