


<footer>

    <div class="area">
    <div class="main_content">

            <div class="links">
                <div class="link_head">
                    <p>users</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">Patients</a>
                    </div>
                    <div>
                        <a href="">Clinics</a>
                    </div>
                    <div>
                        <a href="">Doctors</a>
                    </div>
                    <div>
                        <a href="">Admin</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="link_head">
                    <p>booking</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">Appointment</a>
                    </div>
                    <div>
                        <a href="">Sergery</a>
                    </div>
                    <div>
                        <a href="">tests</a>
                    </div>
                    <div>
                        <a href="">Doctor Call</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="link_head">
                    <p>uses policy</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">documents</a>
                    </div>
                    <div>
                        <a href="">real estate</a>
                    </div>
                    <div>
                        <a href="">permissions</a>
                    </div>
                    <div>
                        <a href="">services</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="link_head">
                    <p>other</p>
                </div>
                <div class="final_link">
                    <div>
                        <a href="">Admin login</a>
                    </div>
                    <div>
                        <a href="">feedback</a>
                    </div>
                    <div>
                        <a href="">follow</a>
                    </div>
                </div>
            </div>

    </div>
    </div>

    <div class="footer_follow">
        <div class="web_name">
            <a href="/">www.website.com</a>
        </div>
        <div class="all_follow">
            <div>
                <p>Follow us</p>
            </div>
            <div class="follow">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>

</footer>