<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clinic - Profile</title>
    <link rel="stylesheet" href="/css/profile/auth/edit profile/cliniceditStyle.css">
</head>
<body>

    <!-- nabvar -->

    <div class="navbar">
        <div class="inner">
            <div class="left_head">
                <div class="logo">
                    <p>photo</p>
                </div>
                <div class="top_services">
                    <div>
                        <p>voice consultant</p>
                    </div>
                    <div>
                        <p>lab tests</p>
                    </div>
                    <div>
                        <p>sergeries</p>
                    </div>
                </div>
            </div>
            <div class="right-head">
                <div class="features">
                    <p>Book appointment</p>
                </div>
                <div class="status">
                    <div>
                        <p>Login</p>
                    </div>
                    <div>
                        <p>Signup</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- content -->
    
    <div class="contain">
        <div class="inner_contain">
            <div class="left_section"> 
                <div class="diff_sec">
                    <div class="section">
                        <p>info 1</p>
                    </div>
                    <div class="section">
                        <p>info 2</p>
                    </div>
                    <!-- add section as many as you want -->
                </div>
            </div>
            <div class="right_section">
                <div class="diff_cont">
                    <div class="content" >
                        
                            <form action="/patient/personal" method="post">
                                <div class="formInner inner1s" >
                                    <div class="user_input1s" >
                                        <label for="">Clinic name : </label>
                                        <br>
                                        <input type="text" placeholder="" name="fullname">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">Nick name : </label>
                                        <br>
                                        <input type="text" placeholder="" name="shortname">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">Country : </label>
                                        <br>
                                        <input type="text"  placeholder="" name="country">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">State : </label>
                                        <br>
                                        <input type="text" placeholder="" name="state" >
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">City : </label>
                                        <br>
                                        <input type="text"  placeholder="" name="city">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">address : </label>
                                        <br>
                                        <input type="text" placeholder="" name="address">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">Established date : </label>
                                        <br>
                                        <input type="date"  placeholder="" name="establishDate">
                                    </div>
                                </div>

                                <button type="submit">save changes</button>
                            </form>
                            
                    </div>
                    <div class="content" >

                            <form action="" method="post">
                                <div class="formInner inner2s" >
                                    
                                </div>

                                <button type="submit">save changes</button>
                            </form>

                    </div>
                    <!-- add as many content section as you want -->
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="main_content">
            <div class="left_sec">
                <div class="logo2">

                </div>
            </div>
            <div class="right_sec">
                <div class="links">
                    <div class="link_head">
                        <p>for brand</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for hospital</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                        <div>
                            <a href="">link6</a>
                        </div>
                        <div>
                            <a href="">link7</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for clinic</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for patients</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/profile/auth/edit profile/clinicEdit.js"></script>

</body>
</html>