<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile/auth/edit profile/doctoreditStyle.css">
</head>
<body>

    <!-- nabvar -->

    <div class="navbar">
        <div class="inner">
            <div class="left_head">
                <div class="logo">
                    <p>photo</p>
                </div>
                <div class="top_services">
                    <div>
                        <p>voice consultant</p>
                    </div>
                    <div>
                        <p>lab tests</p>
                    </div>
                    <div>
                        <p>sergeries</p>
                    </div>
                </div>
            </div>
            <div class="right-head">
                <div class="features">
                    <p>Book appointment</p>
                </div>
                <div class="status">
                    <div>
                        <p>Login</p>
                    </div>
                    <div>
                        <p>Signup</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- content -->
    
    <div class="contain">
        <div class="inner_contain">
            <div class="left_section"> 
                <div class="diff_sec">
                    <div class="section">
                        <p>info 1</p>
                    </div>
                    <div class="section">
                        <p>info 2</p>
                    </div>
                    <div class="section">
                        <p>info 3</p>
                    </div>
                </div>
            </div>
            <div class="right_section">
                <div class="diff_cont">
                    <div class="content" >
                        
                            <form action="/doctor/personal" method="post">
                                <div class="formInner inner1s" >
                                    <div class="user_input1s" >
                                        <label for="">Name : </label>
                                        <br>
                                        <input type="text" placeholder="" name="name">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">Country : </label>
                                        <br>
                                        <input type="text"  placeholder="" name="country">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">State : </label>
                                        <br>
                                        <input type="text" placeholder="" name="state" >
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">City : </label>
                                        <br>
                                        <input type="text"  placeholder="" name="city">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">address : </label>
                                        <br>
                                        <input type="text" placeholder="" name="address">
                                    </div>
                                    <div class="user_input1s" >
                                        <label for="">Date of birth : </label>
                                        <br>
                                        <input type="data"  placeholder="" name="dob">
                                    </div>
                                </div>

                                <button type="submit">save changes</button>
                            </form>
                            
                    </div>
                    <div class="content" >

                            <form action="/doctor/work" method="post">
                                <div class="formInner inner2s" >
                                    <div class="user_input2s" >
                                        <label for="">work</label>
                                        <input type="text" name="work" id="" placeholder="">
                                    </div>
                                    <div class="user_input2s" >
                                        <label for="">about me</label>
                                        <input type="text" name="about" id="" placeholder="">
                                    </div>
                                </div>

                                <button type="submit">save changes</button>
                            </form>

                    </div>
                    <div class="content" >

                            <form action="/doctor/profession" method="post">
                                <div class="formInner inner3s" >
                                    <div class="user_input3s" >
                                        <label for="servicesInput">Add services:</label>
                                        <br>
                                        <input type="text" class="skillInput" name="service">
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="serviceslist" >
                                    </div>
                                    <div class="user_input3s" >
                                        <label for="specializationInput">Add specialization :</label>
                                        <br>
                                        <input type="text" class="skillInput" name="specialization" >
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="specializationlist">
                                    </div>
                                    <div class="user_input3s" >
                                        <label for="awardInput">Add specialization :</label>
                                        <br>
                                        <input type="text" class="skillInput" name="award" >
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="awardlist">
                                    </div>
                                    <div class="user_input3s" >
                                        <label for="educationInput">Add specialization :</label>
                                        <br>
                                        <input type="text" class="skillInput" name="education" >
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="educationlist">
                                    </div>
                                    <div class="user_input3s" >
                                        <label for="membershipInput">Add specialization :</label>
                                        <br>
                                        <input type="text" class="skillInput" name="membership" >
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="membershiplist">
                                    </div>
                                    <div class="user_input3s" >
                                        <label for="experienceInput">Add specialization :</label>
                                        <br>
                                        <input type="text" class="skillInput" name="experience" >
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="experiencelist">
                                    </div>
                                    <div class="user_input3s" >
                                        <label for="registrationInput">Add specialization :</label>
                                        <br>
                                        <input type="text" class="skillInput" name="registration" >
                                        <button type="button" class="addSkillButton">Add</button>
        
                                        <ul class="skillList"></ul>

                                        <input type="hidden" class="hideskillList" name="registrationlist" >
                                    </div>
                                </div>

                                <button type="submit" >save changes</button>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="main_content">
            <div class="left_sec">
                <div class="logo2">

                </div>
            </div>
            <div class="right_sec">
                <div class="links">
                    <div class="link_head">
                        <p>for brand</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for hospital</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                        <div>
                            <a href="">link6</a>
                        </div>
                        <div>
                            <a href="">link7</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for clinic</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for patients</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/profile/auth/edit profile/doctorEdit.js"></script>

</body>
</html>