<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic login</title>
    <link rel="stylesheet" href="/css/login/clinicLogstyle.css">
</head>
<body>

    <!-- navbar -->

    <div class="navbar">
        <div class="inner">
            <div class="left_head">
                <div class="logo">
                    <p>photo</p>
                </div>
                <div class="top_services">
                    <div>
                        <p>voice consultant</p>
                    </div>
                    <div>
                        <p>lab tests</p>
                    </div>
                    <div>
                        <p>sergeries</p>
                    </div>
                </div>
            </div>
            <div class="right-head">
                <div class="features">
                    <p>Book appointment</p>
                </div>
                <div class="status">
                    <div>
                        <p>Login</p>
                    </div>
                    <div>
                        <p>Signup</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->

    <div class="main">
        <div class="contain">
            <div class="forms">
                <div class="formcon">
                    <form action="">
                        <label for="text">Clinic's email :</label>
                        <br>
                        <input type="email" placeholder="enter clinic email" required>
                        <br>
                        <label for="text">Password :</label>
                        <br>
                        <input type="text" placeholder="enter Password" required>
                        <br>
                        <button> Signup </button>
                    </form>
                </div>
                <div class="notsave">
                    already have a account? <a href="">Login</a>
                </div>
                <div class="condition">
                    By clicking to Signup, you are agree to our <a href="">terms and conditions </a> and accept all <a href="">cookies</a>
                </div>
            </div>
        </div>
    </div>

    
    <footer>
        <div class="main_content">
            <div class="left_sec">
                <div class="logo2">

                </div>
            </div>
            <div class="right_sec">
                <div class="links">
                    <div class="link_head">
                        <p>for brand</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for hospital</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                        <div>
                            <a href="">link6</a>
                        </div>
                        <div>
                            <a href="">link7</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for clinic</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for patients</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>