<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login/loginstyle.css">
</head>
<body>


    <div class="navbar">
        <div class="inner">
            <div class="left_head">
                <div class="logo">
                    <p>photo</p>
                </div>
                <div class="top_services">
                    <div>
                        <p>voice consultant</p>
                    </div>
                    <div>
                        <p>lab tests</p>
                    </div>
                    <div>
                        <p>sergeries</p>
                    </div>
                </div>
            </div>
            <div class="right-head">
                <div class="features">
                    <p>Book appointment</p>
                </div>
                <div class="status">
                    <div>
                        <p>Login</p>
                    </div>
                    <div>
                        <p>Signup</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- content -->
    <div class="main">
        <div class="contain">
            <div class="mleft">
                <div class="left_data">
                    <div class="choose">
                        <div class="section fir">
                            as patient
                        </div>
                        <div class="section sec">
                            as doctor
                        </div>
                    </div>
                    <div class="forms">
                        <div class="formcon one">
                            <form action="/user/login" method="post" >
                                <label for="text">Email :</label>
                                <br>
                                <input type="email" name="email" placeholder="enter email" required>
                                <br>
                                <label for="text">password :</label>
                                <br>
                                <input type="password" name="password" placeholder="enter password" required>
                                <br>
                                <div class="save">
                                    Remember me
                                </div>
                                <div class="for_pass">
                                    <a href="">Forgot password??</a>
                                </div>
                                <button type="submit"> Login </button>
                            </form>
                        </div>
                        <div class="formcon seco">
                            <form action="/doctor/login" method="post" >
                                <label for="text">Email :</label>
                                <br>
                                <input type="email" name="email" placeholder="enter email" required>
                                <br>
                                <label for="text">password :</label>
                                <br>
                                <input type="password" name="password" placeholder="enter password" required>
                                <br>
                                <div class="save">
                                    Remember me
                                </div>
                                <div class="for_pass">
                                    <a href="">Forgot password??</a>
                                </div>
                                <button type="submit"> Login </button>
                            </form>
                        </div>
                        <div class="notsave">
                            don't have a account? <a href="">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mright">
                <!-- photo -->
                hello
            </div>
        </div>
    </div>


    <footer>
        <div class="main_content">
            <div class="left_sec">
                <div class="logo2">

                </div>
            </div>
            <div class="right_sec">
                <div class="links">
                    <div class="link_head">
                        <p>for brand</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for hospital</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                        <div>
                            <a href="">link6</a>
                        </div>
                        <div>
                            <a href="">link7</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for clinic</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>for patients</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                        <div>
                            <a href="">link5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="work.js"></script>

</body>
</html>