
/* content */

.middle{
    width: 100%;
    height: max-content;
    background-color: #e7edf4;
    padding: 2.5em 2em;
}
.contain{
    width: 100%;
    margin: auto;
    height: max-content;
    background-color: white;
}
@media screen and (min-width : 1200px ) {
    .contain{
        width: 1200px;
    }
    .middle{
        padding: 2.5em 0px;
    }
}

.contain .firstform{
    width: 100%;
    height: max-content;
    padding: 0.3em 0.2em;
    padding-top: 2.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formInner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
}

/* css for personal input */
.user_input1s{
    width: 50%;
    margin: 0.3em 1em;
    /* background-color: grey; */
}
.user_input1s label{
    font-size: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}
.user_input1s input{
    padding: 0.5em 0.6em;
    font-size: 0.7em;
    border: 1px solid black;
    border-radius: 2px;
    width: 90%;
    color: rgb(49, 49, 49);
}
/* end */

.contain .firstform > button{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 14px;
    font-size: 1em;
    font-weight: 500;
    width: max-content;
    margin: auto;
    margin-top: 4em;
}


/* showing differnt sections on click */

.content{
    display: none;
}
.con1,.con2,.con3{
    display: unset;
}

/* css for different booking sections */

.bookdata {
    height: max-content;
    width: 100%;
    padding: 0.1em;
}
.multi_data {
    height: max-content;
    width: 100%;
}

.multi_data{
    display: none;
}
.data0,.data1,.data2,.data3,.data4,.data5,.data6,.data7{
    display: block;
}


@media screen and (min-width : 300px) and (max-width : 500px) {
    .info_show > p,.user_input1s input{
        font-size: 0.5em;
    }
    .main_info .p_head2,.user_input1s label,.contain .firstform > button{
        font-size: 0.7em;
    }
    .all_info > div > p{
        font-size: 0.5em;
    }
    .content > .content_head > p,.null_book > p{
        font-size: 0.8em;
    }
}

@media screen and (max-width : 300px) {
    .diff_sec p,.multi_head p,.main_work form input{
        font-size: 0.4em;
    }
    .info_show > p,.user_input1s input{
        font-size: 0.4em;
    }
    .main_info .p_head2,.user_input1s label,.contain .firstform > button{
        font-size: 0.5em;
    }
    .all_info .p_head,.main_work form label,.main_work button{
        font-size: 0.6em;
    }
    .content > .content_head > p,.null_book > p{
        font-size: 0.7em;
    }
}

